<div class="container tourShow mt-20">
  <p id="notice"><%= notice %></p>

  <% s_point = @tour_package.destinations.find_by_point("Start") %>
  <div class="col-lg-12 col-md-12 col-xs-12 h2 text-center roboto"><%= "#{@tour_package.name}(#{s_point.date if s_point})" %></div>

  <div class="col-lg-12">
    <%= render :partial => "form2", locals: {:tour_booking => @tour_booking,:tour_package => @tour_package} %>
  </div>

</div>