
	<div class="form-group">
        <%= label_tag :point %>
        <%= select_tag "point[]",options_for_select(["Start","Intermediate","End"]), {:class => "form-control"} %>
      </div>
      <div class="form-group">
        <%= label_tag :date %>
        <%= date_select "date[]", id: :destination_date, :class => "form-control" %>
      </div>