.padding-reset{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.roboto{
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
}
.mt-10{
	margin-top: 10px;
}
.mt-20{
	margin-top: 20px;
}
.mb-10{
	margin-bottom: 10px;
}
.mb-20{
	margin-bottom: 20px;
}